<div>
    <div class="formRTPcont">
        <form class="formRTP">
            Title <input id="title" type="text" name="title" required ></input>
            Description <input id="description" type="text" name="description" required></input>
            Category <input id="category" type="text" name="category" required></input>
            Price <input id="price" type="number" name="price" required></input>
            Stock <input id="stock" type="number" name="stock" required></input>
            Code <input id="code" type="number" name="code" required></input>
        </form>
        <button id="send" onclick="postProduct()">Enviar</button>
        <table>
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>Descripcion</td>
                    <td>Categoria</td>
                    <td>Precio</td>
                    <td>Code</td>
                    <td>Stock</td>
                </tr>
            </thead>
            <tbody id="productos"></tbody>
        </table>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>