.seccion1 {
  width: 100%;
  height: 90%;
  background-color: rgb(59, 59, 59);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10 15 10 15;
}
.chatCont {
  height: 100%;
  width: 25%;
  padding: 10 10 10 10;
  background-color: aliceblue;
}
.productsCont {
  height: 100%;
  width: 75%;
  padding: 10 10 10 10;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 10px;
  overflow-y: scroll;
}
